* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(71, 66, 126, 1) 100%);
}

.header {
    width: 100%;
    padding: 25px;
    background: #005cbf;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .6);
}

.title {
    color: #fff;
    font-size: 25px;
}

.link {
    color: #fff;
    text-underline: none;
}

.link:hover {
    color: #000;
    text-underline: none;
}

.text {
    letter-spacing: 1px;
    color: #2f3330;
    font-size: 18px;
}

.text-strong {
    color: #000;
    font-size:18px;
    font-weight: bold;
}

.image-shadow {
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, .5));
    transition: .4s ease all;
}

.image-shadow:hover {
    filter: drop-shadow(0 15px 26px rgba(0, 0, 0, .8));
}

.image {
    width: 200px;
    height: 200px;
}